<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第三方公益平台登陆</title>
</head>


<script src="./js_lib/angular.min.js"></script>
<script src="./js_lib/check_code.js"></script>
<script src="./js_lib/jQuery-3.2.1.js"></script>

<body>
<div ng-app="login" ng-controller="login">
    <form>
        <p>用户名：<input type="text" ng-model="nameValue" placeholder="请输入用户名:"></p>
        <p>密&nbsp;&nbsp;&nbsp;&nbsp;码：<input type="password" ng-model="passValue" placeholder="请输入密码:"></p>
        <div id="v_container" style="width: 200px;height: 50px;"></div>
        <input type="text" ng-model="codeValue" placeholder="请输入验证码:"/>
        <button ng-click="loginButton()">登陆</button>
    </form>
</div>
</body>

<script>
    //verifyCode用来加载验证码
    var verifyCode = new GVerify("v_container");

    var app = angular.module("login",[]);
    app.controller('login',function ($scope,$http) {
       $scope.loginButton = function () {
           var name =  $scope.nameValue;
           var pass =  $scope.passalue;
//           alert(name);
//           alert(pass);
           var res = verifyCode.validate($scope.codeValue);
           if (res) {
                $http({
                    method:'post',
                    data:{name:name,pass:pass},
                    headers: {'Content-Type': 'application/x-www-form-urlencoded'},
                    url:'/login.do'
                }).then(function successCallback(response) {
                    
                },function errorCallback(response) {

                });
//               alert("验证正确");
           } else {
               alert("验证码错误");
           }
       }
    });
</script>

</html>