<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第三方公益平台登陆</title>
</head>

<script src="/js/angularJS.js"></script>
<script src="/js/check_code.js"></script>

<body>
<div ng-app="" ng-controller="nc">
    <form ng-form="login">
        <p>用户名：<input type="text" ng-model="nameValue"></p>
        <p>密&nbsp;&nbsp;&nbsp;&nbsp;码：<input type="text" ng-model="passValue"></p>
        <div id="v_container" style="width: 200px;height: 50px;"></div>
        <input type="text" id="code_input" value="" placeholder="请输入验证码:"/>
        <button id="my_button">验证</button>
    </form>
</div>
</body>

<script>
    var app = angular.module();
    app.controller('nc', function ($scope) {
        $scope.nameValue;
        $scope.passalue;
    });
</script>

<script>
    var verifyCode = new GVerify("v_container");
    document.getElementById("my_button").onclick = function () {
        var res = verifyCode.validate(document.getElementById("code_input").value);
        if (res) {
            alert("验证正确");
        } else {
            alert("验证码错误");
        }
    }
</script>
</html>